我回来了。

111
111

# 我是一个标题

## 我是一个标题

<hr/>

<b>我是一个加粗</b>

钨尔维克像是过年时被两位长辈夹在中间讨论的小孩，有些不知所措，也没有红包拿。她走进壁炉的火焰，口中念“有零食卖的房间”，希望能看看猎人口中人们摆摊交易的地方，弄点零食。
左等右等，却没有被传送，原来是自己没有炉引。


这个房间没有交换炉引的窗口。她窘迫地缩进壁炉，火焰与热浪灼上身体，却无法伤到自己分毫。短暂的窘迫之后，她迷茫了起来。自己该何去何从？ 
“咔咔。”火中传来麦克斯韦的声音，钨尔维克看向自己脚边，发现是一只黑鸟在火中晃着脑袋，说些不着调的话：“确是个九殿生物污染的避难所，否？”


避难所……她想起那些人看自己时充满希冀的眼神。我得回去，回去拯救世界！


但还没等她开口，黑鸟先一步慢条斯理道：“你有习得无形之术的资产，待在肉下水旁边太可惜说是。起来吧，我为你叩响乐园的大门。”


它扇动翅膀，像只扑火的大蛾扣在钨尔维克脸上。周围的火焰变高、变大，而两方的身体不断地缩小、缩小。
