<script>
    import TerminalChoice from "$lib/components/TerminalChoice.svelte"
</script>

## LogOS 操作指南

---

恭喜。如果你看见了这段文本，说明你拥有启动LogOS的权限与设备。

### 什么是 LogOS？

<!-- <TerminalChoice
        choices={[
            {
                text: "[什么是LogOS？]",
                waitingTime: 1000,
                onclick: (e) => {
                    goto("/offset/1");
                },
            },
        ]}
    /> -->