@import "tailwindcss";
@plugin '@tailwindcss/typography';

body {
    background-color: var(--color-gray-950);
}

hr {
    border-top: 2px solid var(--color-slate-300);
    margin-top: 0.6em;
    margin-bottom: 1em;
}

p {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

@theme {
    --animate-console-blink: console-blink 0.3s linear infinite;
}

@layer base {
    h1 {
        font-size: var(--text-2xl);
    }
    h2 {
        font-size: var(--text-xl);
    }
    h3 {
        font-size: var(--text-lg);
    }
}

@keyframes console-blink {
    0%,
    49%,
    100% {
        opacity: 1;
    }
    50%,
    99% {
        opacity: 0;
    }
}
